src/*.exe
src/monexcoin
src/monexcoind
src/test_monexcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.monexcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
monexcoin-qt
Monexcoin-Qt.app

# Unit-tests
Makefile.test
monexcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
